@page
@using AspDotNetCoreCache.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>資料筆數: @Model.BooksCount</p>
    <p>標籤種類: @Model.BookTags</p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">BookId</th>
            <th scope="col">BookName</th>
            <th scope="col">BookTag</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.Tag</td>
            </tr>
        }
        </tbody>
    </table>
</div>